body{background-image:url("https://cdn.wallpapersafari.com/75/50/4nQ9TR.jpg");
        }
h2{
  color:#48CAE4;
    font-size:250%;
  letter-spacing:4px;
  text-decoration: underline; 
}
p{
  color:#CAF0F8;
    font-size:200%;
  }
img{
  border:  solid #CAF0F8 15px;
height:50%;
  width:40%;
}
iframe{
    border:  #CAF0F8 10px;
}
ul{
  list-style-type:none;
  text-align: center;
  position: fixed;
  width: 100%;
}
li{
  float: left;
}
li a:hover{
  padding: 25px;
  font-family: "Planet Kosmos", Fantasy;
  border-style: solid;
  color: #CAF0F8;
  text-decoration-line:none;
}
li a:hover{
  background-color:white;
  color:#0096C7;
  
}
